{% extends 'Base.html' %}

{% block title %}
MCStatus - Создание сервера
{% endblock %}

{% block body %}
<div class="container">
  <main>
    <div class="text-center logo-creat-server">
        <img class="d-block mx-auto mb-2" src="../static/Ref/logo_mc.png" alt="" width="72" height="57">
      <h2>Создание страницы сервера</h2>
      <p class="lead">Введите данные своего сервера</p>
    </div>
      <div class="col-md-7 col-lg-12">
        <form class="needs-validation" novalidate="">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="serverName" class="form-label">Название сервера</label>
              <input type="text" class="form-control" id="serverName" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Некорректное название сервера, используйте корректные символы
              </div>
            </div>

            <div class="col-sm-6">
              <label for="IP" class="form-label">IP адрес</label>
              <input type="text" class="form-control" id="IP" placeholder="322.322.322.322" value="" required="">
              <div class="invalid-feedback">
                Некорректный IP - адрес, используйте корректные символы
              </div>
            </div>

            <div class="col-12">
              <label for="version" class="form-label">Версия Minecraft</label>
              <input type="text" class="form-control" id="version" placeholder="4.27" required="">
              <div class="invalid-feedback">
                Некорректная версия, используйте корректные символы
              </div>
            </div>

          <div class="col-12">
            <label for="Description" class="form-label">Описание</label>
            <textarea class="form-control" aria-label="With textarea" id="Description"></textarea>
            <div class="invalid-feedback">
              Некорректное описание, используйте корректные символы
            </div>
          </div>

          <div class="input-group">
            <input type="file" class="form-control" id="imgServer">
            <label class="input-group-text" for="inputGroupFile02">Превью сервера</label>
          </div>

          <div class="col-12">
            <label for="tags" class="form-label">Теги</label>
            <textarea class="form-control" aria-label="With textarea" id="tags" placeholder="Сурвайвал, VIP, есть донат."></textarea>
            <div class="invalid-feedback">
              Некорректные теги, используйте корректные символы и пишите черз запятную
            </div>
          </div>
          <a href="/server/0">
            <button class="w-100 btn btn-primary btn-lg" type="button">Создать сервер</button>
          </a>
        </form>
      </div>
    </div>
  </main>
{% endblock %}