{% extends 'Base.html' %}

{% block title %}
MCStatus - Профиль
{% endblock %}

{% block body %}
<div class="container">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-4">
            <h2>Главный по серверу<h2>
        </div>
        <div class="col-lg-8">
        <h2 class="display-5 fw-bold lh-1 mb-3">Ник</h2>
        <p class="lead">Я Серёга классный парень</p>
        <p class="lead">Serega@classny.da</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/editprofile">
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Редактировать</button>
          </a>
        </div>
      </div>
    </div>
    <h2 class="display-5 fw-bold lh-1 mb-3">Мои сервера</h2>
</div>
<hr class="featurette-divider">
<div class="container">
    <div class="row">
        <div class="list-group list-general-page">
          <a href="/server/0" class="list-group-item list-group-item-action"><div class="card mb-3">
            <img src="../static/Ref/Minecraft_page.png" class="card-img-top" alt="">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="/editprofile">
                  <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Удалить</button>
                </a>
              </div>
            <div class="card-body">
              <h5 class="card-title">Лучший сервер Сереги</h5>
              <p class="card-text">Я Серёга и это мой лучший сервер, заходи и плоти мне деньги</p>
              <p class="card-text">IP - 322.322.322.322</p>
              <p class="card-text">Версия игры</p>
              <p class="card-text">Рейтиг сервера</p>
            </div>
          </div></a>
          <a href="/server/0" class="list-group-item list-group-item-action"><div class="card mb-3">
            <img src="../static/Ref/Minecraft_page.png" class="card-img-top" alt="...">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <a href="/editprofile">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Удалить</button>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Лучший сервер Сереги</h5>
              <p class="card-text">Я Серёга и это мой лучший сервер, заходи и плоти мне деньги</p>
              <p class="card-text">IP - 322.322.322.322</p>
              <p class="card-text">Версия игры</p>
              <p class="card-text">Рейтиг сервера</p>
            </div>
          </div></a>
        <a href="/server/0" class="list-group-item list-group-item-action"><div class="card mb-3">
          <img src="../static/Ref/Minecraft_page.png" class="card-img-top" alt="...">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="/editprofile">
              <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Удалить</button>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Лучший сервер Сереги</h5>
            <p class="card-text">Я Серёга и это мой лучший сервер, заходи и плоти мне деньги</p>
            <p class="card-text">IP - 322.322.322.322</p>
            <p class="card-text">Версия игры</p>
            <p class="card-text">Рейтиг сервера</p>
          </div>
        </div></a>
        <a href="/server/0" class="list-group-item list-group-item-action"><div class="card mb-3">
          <img src="../static/Ref/Minecraft_page.png" class="card-img-top" alt="...">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="/editprofile">
              <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Удалить</button>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Лучший сервер Сереги</h5>
            <p class="card-text">Я Серёга и это мой лучший сервер, заходи и плоти мне деньги</p>
            <p class="card-text">IP - 322.322.322.322</p>
            <p class="card-text">Версия игры</p>
            <p class="card-text">Рейтиг сервера</p>
          </div>
        </div></a>
        <a href="/server/0" class="list-group-item list-group-item-action"><div class="card mb-3">
          <img src="../static/Ref/Minecraft_page.png" class="card-img-top" alt="...">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="/editprofile">
              <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Удалить</button>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Лучший сервер Сереги</h5>
            <p class="card-text">Я Серёга и это мой лучший сервер, заходи и плоти мне деньги</p>
            <p class="card-text">IP - 322.322.322.322</p>
            <p class="card-text">Версия игры</p>
            <p class="card-text">Рейтиг сервера</p>
          </div>
        </div>
      </a>
    </div>                
  </div>
    <nav aria-label="...">
      <ul class="pagination p-4">
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
        <li class="page-item active" aria-current="page"><a class="page-link">1</a></li>
        <li class="page-item" >
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
</div>

{% endblock %}